.distill-site-header .logo img {
    max-height: 35px;
    margin-bottom: -12px;
    margin-top: 8px;
}

.posts-list-caption {
  margin-top: -35px;
}

d-title {
  padding-bottom: 0 !important;
}

d-byline {
  padding: 0.2rem 0 !important;
}

.posts-list .post-preview .thumbnail {
  /*
  max-width: 400px !important;
  max-height: 300px !important;
  */
  padding-right: 4px;
}

.posts-list .post-preview img {
  /*
  width: 100% !important;
  height: 100% !important;
  */
}

.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

.bs-callout h4 {
  margin-top: 0;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #d9534f;
}

.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f0ad4e;
}

.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #5bc0de;
}
