.distill-site-header .logo img {
    max-height: 35px;
    margin-bottom: -12px;
    margin-top: 8px;
}

.posts-list-caption {
  margin-top: -35px;
}

d-title {
  padding-bottom: 0 !important;
}

d-byline {
  padding: 0.2rem 0 !important;
}

.posts-list .post-preview .thumbnail {
  /*
  max-width: 400px !important;
  max-height: 300px !important;
  */
  padding-right: 4px;
}

.posts-list .post-preview img {
  /*
  width: 100% !important;
  height: 100% !important;
  */
}
