.distill-site-header .logo img {
    max-height: 35px;
    margin-bottom: -12px;
    margin-top: 8px;
}

.posts-list-caption {
  margin-top: 0px;
}

d-article p code {
    color: #383838;
    background: rgba(54, 215, 130, 0.15);
    /*
    font-weight: 400;
    font-size: 0.9em;
    */
}

d-title {
  padding-bottom: 0 !important;
}

d-byline {
  padding: 0.2rem 0 !important;
}
